<!doctype html>
<html lang="en" ng-app="notekeep">
<head>
  <meta charset="utf-8">
  <title>Note keep</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <link rel="stylesheet" href="css/app.css">

  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/underscore.js"></script>

  <script src="bower_components/platform/platform.js"></script>
  <link rel="import" href="bower_components/font-roboto/roboto.html">
  <link rel="import" href="bower_components/core-header-panel/core-header-panel.html">
  <link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
  <link rel="import" href="bower_components/paper-tabs/paper-tabs.html">
  <link rel="import" href="bower_components/paper-input/paper-input.html">

  <link rel="import" href="card.html">

</head>

<body unresolved>

  <core-header-panel>

    <core-toolbar> NOTES KEEP </core-toolbar>

    <!-- main page content will go here -->
    <div id="content" ng-controller="CardListCtrl">

      <note-card id="new-card">
        <div>
          <form ng-submit="saveCard()">
            <input type="text" ng-model="newCard.content" placeholder="Add something"></input>
            <input type="date" ng-model="newCard.date"/>
            <input type="submit" value="Submit"/>
          </form>
        </div>
      </note-card>

      <div class="cards">
        <note-card ng-repeat="card in cards">
          <a href="" ng-click="editCard(card)" class="card-edit">edit</a>
          <a href="" ng-click="removeCard(card.id)" class="card-delete">delete</a>
          <span class="card-date">{{card.date | date}}</span>
          <p>{{card.content}}</p>
        </note-card>
      </div>

      <div id="edit-card" ng-show="editing">
        <note-card>
          <form>
            <textarea ng-model="lockedCard.content"></textarea>
            <input type="date" ng-model="lockedCard.date"/>
            <input ng-click="updateCard()" type="submit" value="Update"/>
            <button ng-click="cancelEdit()">Cancel</button>
          </form>
        </note-card>
      </div>


    </div>
  </core-header-panel>


</body>

</html>
